<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
    	<logger name="im.janke.jukeTube" level="TRACE">
  			<AppenderRef ref="Console"/>
  		</logger>
  		<logger name="im.janke.jukeTube.model.impl" level="DEBUG" additivity="false">
  			<AppenderRef ref="Console"/>
  		</logger>
  		<logger name="im.janke.jukeTube.service" level="DEBUG" additivity="false">
  			<AppenderRef ref="Console"/>
  		</logger>
  </Loggers>
</Configuration>